/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url(https://themewagon.github.io/delfood/images/body-bg.jpg);
}

/* Navigation Styles */
.animated-text {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
    text-align: center;
    padding-bottom: 50px;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.nav, .nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav_logo {
  font-size: 25px;
}

.nav-link {
    font-size: 18px;
    color: white;
    position: relative;
    text-decoration: none;
}
.nav-link:hover {
    color: #ffc107; 
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0%;
    height: 2px;
    background-color: #ffc107; 
    transition: width 0.3s ease;
}
.nav-link:hover::after {
    width: 100%;
}

.button:active {
  transform: scale(0.98);
}

/* Form Container */
.login-container {
    max-width: 400px;
    margin:  auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
.login-form,
.signup-form {
    text-align: center;
}

.login-form h2,
.signup-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
}
